{% extends 'account/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block title %}{{ 'account.title'|trans }}{% endblock %}

{% block account_content %}
    <div class="my_account__container">

    </div>
{% endblock %}