{% extends 'base.html.twig' %}

{% block header %}
    {% include 'component/front_header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="account__container">
        {% block account_content '' %}
    </div>
{% endblock %}