.register__container {
  width: 85%;
  background-color: $white-gray;
  border-radius: 15px;
  margin: 2em auto auto;


  &_content {
    width: 80%;
    padding-top: 2em;
    margin: auto;
  }

  &_title {
    p {
      font-weight: bold;
      font-family: 'Inter', serif;
    }
  }

  @import 'common/register/form.scss';
}