@font-face {
  font-family: "VarelaRound";
  src: url("../fonts/VarelaRound-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.ttf") format("opentype");
}