{% extends 'front/base.html.twig' %}

{% block content %}
    <div class="front_homepage__container">

        <div class="front_homepage__container_welcome">
            <h1>Un seul profil pour tout, partout.</h1>
            <h4>Votre adresse e-mail devient votre passeport vers le monde numérique, vous permettant ainsi d’avoir le contrôle total de vos données personnelles.</h4>
            <p>MyAvatar est construit pour un projet d'école.</p>
        </div>

    </div>
{% endblock %}