<div class="header__container">
    <div class="header__container_logo">
        <img src="{{ asset('build/static/img/favicon.ico') }}" alt="Icone MyAvatar"/>
        <p>MyAvatar</p>
    </div>

    <nav>
        <ul>
            <li class="btn btn-text-primary"><a href="#">Se connecter</a></li>
            <li class="btn btn-background-primary"><a href="{{ path('app_security_register') }}">S'inscrire</a></li>
        </ul>
    </nav>
</div>