{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyAvatar</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ asset('build/static/img/favicon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header '' %}
        </header>

        <main>
            {% block content '' %}
        </main>

        <footer></footer>
    </body>
</html>
